body{
	margin: 0;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 100%;
	line-height: 1.6875;
}

@media (max-width: 400px) {
            h3 { font-size:50%;}
     }

@media (max-width: 800px) {
            h3 { font-size:100%;}
        }  
     
@media (max-width: 1100px) {
            h3 { font-size:120%;}
        }  

@media (min-width: 1100px) {
        	h3 { font-size:120%;}
        	.wrap {max-width:770px;}
        }

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Vertical Accordion Style */
.va-container{
	position:relative;
	margin: none;
}
.va-wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:#f5f1ee;
}

.va-container2{
	position:relative;
	margin: none;
}
.va-wrapper2{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:#f5f1ee;
}
.va-slice{
	cursor:pointer;
	position:absolute;
	width:100%;
	left:0px;
	overflow:hidden;
}
.va-slice-1{
	background:#f36333;
}
.va-slice-2{
	background:#895691;
}
.va-slice-3{
	background:#31a8e0;
}
.va-slice-4{
	background:#233c7e;
}
.va-slice-5{
	background:#000;
}
.va-slice-6{
	background:#000;
}
.va-slice-7{
	background:#000 url(../images/7.jpg) no-repeat center center;
}
.va-slice-color-1{
	background-color:#f36831;
}
.va-slice-color-2{
	background-color:#895691;
}
.va-slice-color-3{
	background-color:#233c7e;
}
.va-slice-color-4{
	background-color:#31a8e0;
}
.va-slice-color-5{
	background-color:#00338e;
}
.va-slice-color-6{
	background-color:#002c76;
}
.va-slice-color-7{
	background-color:#002144;
}
.va-title{
	font-family: 'bebasregular';
	text-transform:uppercase;
	font-size:3em;
	left:25%;
	width:50%;
	display: inline-block;
	position: absolute;
	text-align: center;
	color:#fff;
}
.va-content{
	display:none;
	margin-left: auto;
	margin-right: auto;
}
.va-slice p{
	font-size: 2em;
	font-style: italic;
	font-family:Georgia, serif;
	text-indent: 5%;
}
.va-slice ul{
	margin-top:20px;
	list-style: none;
}
.va-slice ul li{
	float:left;
	margin:0px 2px;
}
.va-slice ul li a{
	color:#000;
	background:#eede2f;
	padding:3px 6px;
	font-size:1em;
	font-family:'PT Sans', sans-serif;
	text-transform:uppercase;
}
.va-slice ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.va-nav span{
	width:40px;
	height:25px;
	background:transparent url(../images/prev.png) no-repeat center center;
	position:absolute;
	top:-35px;
	left:50%;
	margin-left:-20px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	display:none;
	z-index:100;
}
.va-nav span.va-nav-next{
	background-image:url(../images/next.png);
	top:auto;
	bottom:-35px;
}
.va-nav span:hover{
	opacity:1.0;
}
